PORT = 
FE_HOST = 
FE_UPDATE_PASSWORD_URL = 

MONGODB_URL = 

BREVO_API_KEY = 
BREVO_SENDER_EMAIL = 

CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_USER_PROFILE = 
CLOUDINARY_COURSE_THUMBNAIL_FOLDER = 
CLOUDINARY_COURSE_VIDEO_FOLDER = 

JWT_SECRET = 

RAZORPAY_KEY = 
RAZORPAY_KEY_SECRET = 
